.content{
	position: relative;
	background: #f8f8f8;
	height: 567px;
	width: 100%;
}

.pager{
	
	bottom: 30px;
}

.pager ul{
	list-style: none;
}

.pager ul .item{
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 5px;
}
.pager ul li a{ 
	display: block;
	cursor: pointer;
	color:#007ACC;
	border: 1px solid #007ACC;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	}

.pager ul li a:hover{
	background: #007ACC;
	color: white;
}

.previous, .next{
	width: 60px;
	float: left;
	margin-left: 5px;
}
