@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transform-origin($transform-origin){
	-webkit-transform-origin: $transform-origin;
	-moz-transform-origin: $transform-origin;
	-ms-transform-origin: $transform-origin;
	-o-transform-origin: $transform-origin;
	transform-origin: $transform-origin;
}

@mixin scale($scale){
	-webkit-transform: $scale;
	-moz-transform: $scale;
	-ms-transform: $scale;
	-o-transform: $scale;
	transform: $scale;
}

@mixin opacity($opacity){
	opacity: $opacity;
	filter: alpha(opacity = $opacity * 100);
}