/*
** css for demo1
*/

$bg-mouseenter: #F9A825;

*{
	font-family: 'Microsoft Yahei';
}

// left - mobile
.mobile{
	margin: 0 auto;
	height: 610px;
	width: 288px;
	background: url('../imgs/mobile.png');
	padding: 99px 18px 80px 25px;

	.screen{
		//padding: 50px 30px 0px 30px;
		background: #eeeeee;
		height: 100%;
		width: 100%;
		border: 1px solid black;
		text-align: center;
		position: relative;

		.pictures{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99;
		}

		span{
			font-size: 80px;
			line-height: 120px;
			color: $bg-mouseenter;
		}

		p{
			font-size: 10px;
			color: #777;
			line-height: 24px;
		}
	}
}

// right - introduce
.intro{
	padding-top: 100px;
	
	.item{
		text-align: center;
		cursor: pointer;
		height: 150px;
		// &:hover{
		// 	color: $bg-mouseenter;
		// 	span{
		// 		color: $bg-mouseenter;
		// 	}
		// }
		span{
			font-size: 40px;
			color: #b0b0b0;
		}

		.text{
			padding-top: 15px;
			line-height: 15px;
		}
	}

	.item-hover{
		color: $bg-mouseenter;
		span{ color: $bg-mouseenter;}
	}
}